@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container{
    background: white;
    box-sizing: border-box;
    align-self: center;
    width:700px;
    box-shadow: 3px 3px 3px gray;
    position: absolute;
    margin: 3em auto;
    padding: center;
}
header{
    font-family: "Abril Fatface";
    margin: auto;
    text-align: center;
    border-bottom:1px solid lightgray
    position: sticky;
}
body{
    background:#eee;
    font-family: "Source Sans Pro";
    margin: auto;
    text-align: justify;
}
body img{
    max-width:fit-content;
}
ul{
    list-style: none;
    border: 1px solid #777;
    background-color
}
li{
    display:inline-block;
    margin-top: 1em;
    margin-bottom:1em;

}
nav a{
    color:#777
}

.more-articles{
    display:flex;
}
{
    background-color: gray;
}